Django==1.5.1
South==0.8.2
dj-database-url==0.2.2
django-storages==1.1.8
gunicorn==18.0
psycopg2==2.5.1
boto==2.11.0
django-nose==1.2
rednose==0.4.0
model-mommy==1.0
Unipath==1.0
honcho==0.4.2
django-crispy-forms==1.4.0
