# For Development
DEBUG=True
DEFAULT_FROM_EMAIL=<your email default>
SEND_MAIL=False


# For Production (using Honcho)
DATABASE_URL=<your database url>
DEFAULT_FROM_EMAIL=<your email default>
EMAIL_HOST=<your email host>
EMAIL_HOST_USER=<your email>
EMAIL_HOST_PASSWORD=<your email password>
EMAIL_PORT=<your port>
EMAIL_USE_TLS=<True or False>
AWS_ACCESS_KEY_ID=<access key>
AWS_SECRET_ACCESS_KEY=<access secret key>
BUCKET_NAME=<your bucket name>
