include LICENSE
include README.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include requirements.txt
exclude example
exclude bootstrap
exclude *.pyc
recursive-include docs *.rst
recursive-include legalis *.html *.css *.js *.png *.gif *.woff *.ttf *.svg *.eot
